span {
    color: rgb(19, 212, 212);
}
#name {
    margin-top: 5px;
}
#top {
    margin-left: 170px;
}
#welcome {
    margin-top: 80px;
}
h3 {
    margin-top: 6px;
    margin-bottom: 10px;
}
p {
    margin-top: 6px;
}
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1 {
    font-size: 50px;
}
#hire {
    background-color: rgb(32, 206, 206);
    border-color:  rgb(32, 206, 206);
    width: 80px;
    height: 30px;
}
.half{
    widows: 40%;
    float: left;

}
img {
    margin-top: 130px;
    margin-left: 10px;
}